Flask>=2.0
Werkzeug>=2.0
reportlab>=3.6
openpyxl>=3.0

# Optional / future features
# requests
# openai (optional, for AI enhancements)
openai
pytesseract
Pillow
python-dotenv
requests
# PyJWT for JWT auth
PyJWT
# Twilio for SMS OTP
twilio
# pyjwt
# sqlalchemy
# scikit-learn
